.section{
    width: 100%;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.movie_Section{
    font-family: Mulish, sans-serif;
    background-color: aliceblue;
    width: 100%;
    padding: 0 5rem 5rem 5rem;
    min-height: 90vh;
}

    
.movie_Section h1{
    width: 100%;
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
}


.card_section{
    width: 100%;
    display: flex;
    gap: 4.8rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 700px){
    .card_section{
        gap: 2rem;
    }

    .movie_Section{
        padding: 0 2rem 0 2rem;
        font-family: Mulish, sans-serif;
    }
    
}

