/* Movie-page*/
.container{
  padding: 6rem 2rem;
  font-family: Mulish, sans-serif;
}

.movie_title{
  color: #a432c7;
  font-size: 30px;
  text-transform: capitalize;
}

.movie_image{
  width: 600px;
  height: 350px;
  border-radius: 20px;
  margin: 3.2rem 0 3.2rem 0;
}

.movie_type{
  font-size: 2.5rem;
  margin: 2rem 0 3.2rem 0;
}

.movie_para_heading{
  margin-top: 2rem;
  font-size: 2.5rem;
  padding: 5px;
}

.movie_para{
  font-size: 1.8rem;
  padding: 5px;
  margin: 0rem 0 2rem 0;
}


.whatchlist_button{
  width: 150px;
  font-size: 2rem;
  font-family: Mulish, sans-serif;
  color: white;
  padding: 5px 5px 5px 10px;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  position: fixed;
  bottom: 10%;
  right: 0;
  background-color: #9349a9;
  cursor: pointer;
}
/*Youtube*/
.youtube_section{
  height: 320px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.youtube{
  height: 280px;
  width:  500px;
  border-radius: 10px;
  padding: 0 auto;
}


/*Horizontal_list-> hl */

.hl_container{
  width: 100%;
  margin: 3.2rem 0 3.2rem 0;
  background-color: #e1d0e4;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  overflow: hidden;
}

.hl_container h3{
  font-size: 2.5rem;
}
  
  .hl_list{
    height: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
  }
  
  .hl_list_item{
    background-color: #fff;
    font-weight: 500;
    font-size: 2rem;
    padding: 1px 5px 1px 5px;
    border-radius: 15px;
  }

  .hl_cast_list{
    font-weight: 500;
    font-size: 2rem;
    padding: 1px 5px 1px 5px;
    border-radius: 15px;
  }
  
  @media screen and (max-width: 700px){
    .container{
      padding: 4rem 1rem 2rem 1rem;
    }

   .movie_image{
     width: 100%;
     height: 300px;
   }

   .hl_container h3{
    font-size: 1.5rem;
  }
    
  .movie_type{
    margin: 0;
  }

  .hl_container{
    margin: 1.5rem 0 1.5rem 0;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    overflow: hidden;
  }

  .hl_list_item{
    background-color: #fff;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 1px 5px 1px 5px;
    border-radius: 15px;
  }
  
  .hl_cast_list{
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 1px 5px 3px 5px;
    border-radius: 15px;
  }

  .youtube{
    width: 100%;
    height: 250px;
  }
  
  
}

